/* ---------------------------------------------------------------------------------------------------------------------
# Base file and core resets.
# V1.0.0
# Last Updated: 04/07/2018
# Author: Steven Willett | https://stevenwillett.com
# Twitter: @WillettCom
--------------------------------------------------------------------------------------------------------------------- */

/* #####################################################################################################################
STARTOF: core resets and defaults
##################################################################################################################### */

/* RESET ALL TAGS */
a,abbr, address, area, article, aside, audio, b, base, bdo, blockquote, body, br, button, canvas, caption, cite, code,
col, colgroup, dd, del, dfn, div, dl, dt, em, embed, fieldset, footer, form, h1, h2, h3, h4, h5, h6, head, header,
hgroup, hr, html, i, iframe, img, input, ins, kbd, label, legend, li, link, map, meta, nav, noscript, object, ol,
optgroup, option, p, param, pre, q, rp, rt, ruby, samp, script, section, select, small, source, span, strong, style,
sub, sup, table, tbody, td, textarea, tfoot, th, thead, titl, tr, ul, var, video
{
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    background: none;
    font-size: 100%;
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    text-align: inherit;
    border: 0;
    outline: 0;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* #####################################################################################################################
ENDOF: core resets and defaults
##################################################################################################################### */

.main-header {
    width: 100%;
    padding: 1.5em 1em;
    background: #0892d0;
}
